<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            africanna
        {% endif %}
    </title>
</head>
<body>
    {% with messages=get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <span style="color: red">{{ message }}</span>
        {% endfor %}
        {% endif %}
    {% endwith %}
    
    {% include 'nav.html' %}
    
    {% block content %}
    {% endblock %} 
</body>
</html>